<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Personal</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <header class="navbar">

        <div class="navbar_logo">
            <img src="../static/logochilero.png" alt="Logo Codigo Delarosa"> Blog Personal Delarosa

        </div>

        <ul class="navbar_navegacion">
            <li class="navbar_navegacion_item"><a href="#" class="navbar_link">Recientes</a></li>
            <li class="navbar_navegacion_item"><a href="#" class="navbar_link">Calendario</a></li>
        </ul>

    </header>

    <main class="main">
        <section>
            <h2>Agregar Una nueva Entrada:</h2>

            <form class="form" method="post">

                <p class="form_input"> 
                    <label for="titulo" class="form_label">Titulo</label> <!--el for nos indice que el label esta asociado al titulo-->
                    <input type="text" name="tit" id="titulo" class="title">
                </p>


                <p class="form_input"> 
                    <label for="entry" class="form_label">Contenido</label> <!--el for nos indice que el label esta asociado al titulo-->
                    <textarea name="content" id="entry" class="form_textarea"></textarea>
                </p>

                <button type="submit" class="form_submit">Agregar</button>

            </form>

        </section>

        <section>
            <h2>Entradas Recientes</h2>

            {%for entrada in entradas%}

            <article class="entry">
                <div>
                    <h3>
                        {{entrada.titulo}}
                    </h3>

                    <time datetime={{entrada.fecha}} class="entry_date">->{{entrada.fecha}}</time>
                </div>
                <p class="entry_content">
                    {{entrada.contenido}}
                </p>
            </article>          

            {% endfor %}



        </section>





    </main>

    <footer class="footer">

        <div class="footer_content">

            <section class="left">
                <a class="footer_item" href="https://github.com/joseD2023" target="_blank">Creado por Jose De La rosa</a>
                <a class="footer_item" href="https://github.com/joseD2023/Proyectos_web/tree/main" target="_blank">Mira mis otros Proyectos</a>
            </section>

            <section class="right">

                <div class="footer_column">
                    <a class="footer_item">Recientes</a>
                    <a class="footer_item">Calendario</a>
                </div>

                <div class="footer_column">
                    <a class="footer_item">Acerca de</a>
                    <a class="footer_item">Como fue hecho</a>
                </div>

            </section>


        </div>



    </footer>
    
</body>
</html>